@model List<Product>

<div class="row">
    <div class="col">
        <div class="text-end">
            <a asp-controller="Product" asp-action="Add" class="btn btn-sm btn-outline-dark m-1 pull-right ">Add new Product</a>
        </div>
    </div>
</div>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model[0].category)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].Title)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].Description)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].Author)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].ISBN)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].ListPrice)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].ListPrice2)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].ListPrice50)</th>
                <th scope="col">@Html.DisplayNameFor(model => model[0].ListPrice100)</th>
            </tr>
        </thead>
        @foreach (var product in Model)
        {
            <tbody>
                <tr>
                    <th scope="row">@product.category.Name</th>
                    <td>@product.Title</td>
                    <td>@product.Description</td>
                    <td>@product.Author</td>
                    <td>@product.ISBN</td>
                    <td>@product.ListPrice</td>
                    <td>@product.ListPrice2</td>
                    <td>@product.ListPrice50</td>
                    <td>@product.ListPrice100</td>
                <td class="text-right">
                    <div class="btn-group" role="group">
                            <a asp-controller="Product" asp-action="Edit" asp-route-id="@product.Id" class="btn btn-sm btn-primary m-1">Edit</a>
                            <a onclick="return confirm('Are you sure you want to delete this?')" asp-controller="Product" asp-action="Delete" asp-route-id="@product.Id" class="btn btn-sm btn-danger m-1">Delete</a>
                    </div>
                </td>

                </tr>
            </tbody>
        }
    </table>



