@model Company



<h1 class="mb-3">Add new Product</h1>

<div asp-validation-summary="All"></div>

<form asp-controller="Company" asp-action="Edit" method="POST" enctype="multipart/form-data">
    <div asp-validation-summary="All"></div>

    <div class="input-group input-group-sm mb-3">
        <span asp-for="Name" class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.Name)</span>
        <input asp-for="Name" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>


    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.City)</span>
        <input asp-for="City" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.StreetAddress)</span>
        <input asp-for="StreetAddress" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.PostalCode)</span>
        <input asp-for="PostalCode" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">

    </div>


    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.PhoneNumber)</span>
        <input asp-for="PhoneNumber" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>


    <div class="input-group input-group-sm mb-3">
        <span class="input-group-text" id="inputGroup-sizing-sm">@Html.DisplayNameFor(model => model.State)</span>
        <input asp-for="State" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
    </div>

    <div class="btn-group" role="group">
        <button type="submit" class="btn btn-sm btn-success m-1">Edit</button>
        <a asp-controller="Company" asp-action="Index" class="btn btn-sm btn m-1">Back to List</a>
    </div>
</form>



@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

